@import '~bootstrap/scss/bootstrap';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;

    &:hover{
        color: unset;
    }
}

.back-dark{
    background-color: black;
}

// Assets

nav{

    box-shadow: 4px 8px 15px rgba(0, 0, 0, .4);

    #logo{
        width: 100px;

        img{
            width: 100%;
        }
    }
}

#home{
    padding-top:80px;

    min-height: 650px;

    background-color: black;

    ._container{
        margin: 0px auto;
        padding: 50px 0;

        width: 80%;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        color: white;
        font-family: 'Bruno Ace', cursive;

        .left-inner{

            #first-sec{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 20px;

                #hello{
                    font-size: 2.4em;
                }
                #_row{
                    height: 2px;
                    width: 500px;

                    background-color: white;

                    border-radius: 20px;
                }
            }

            #name{
                font-size: 3.4em;
            }

            #grade{
                font-size: 1.6em;
            }
        }

        .right-inner{

            #img-container{
                height: 400px;

                img{
                    height: 100%;
                }
            }
        }
    }
}

// Admin show
#admin_show{
    
    #info-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;

        #img-container{
            width: 180%;

            border-radius: 30px;
            overflow: hidden;

            img{
                width: 100%;
            }
        }
    }
}

// Admin edit

#admin_edit_create{

    #proj-title{
        padding-top: 30px;

        font-size: 2.4em;
        font-weight: bold;
        text-align: center;
        color: white;
    }
}

// Guest Index

#guest-index{

    .cards-container{
        display: flex;
        flex-flow: row wrap;
        gap: 40px;

        a{
            font-family: 'Bruno Ace', cursive;
        }
    }
}

#guest-show{

    .img-container{
        width: 100%;
        height: 750px;

        img{
            width: 100%;
            height: 100%;

            object-fit: cover;
        }
    }

    .proj-title{
        margin: 30px 0;

        font-size: 3em;
        font-family: 'Bruno Ace', cursive;
        color: #f16529;
    }

    ._label{
        font-family: 'Bruno Ace', cursive;

        .type{
            color: #f16529;
        }
    }

    .text{
        padding: 50px 0;

    }
}


